<div *ngFor="let post of post$ | async">
  <mat-card class="mat-elevation-z3" style="margin: 10px">
    <mat-card-header>{{ post.id }}</mat-card-header>
    <mat-card-content>
      {{ post.body }}
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="primary">View  More</button>
    </mat-card-actions>
  </mat-card>
</div>

<responsive-inc-post [title]="'Title one'"></responsive-inc-post>

<button mat-buttton (click)="changeUser()">Change User</button>

<h1>{{ user$ | async }}</h1>
