:host {
//   color: white;
}

.background {
    // background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    //   url('/assets/background.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

form {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  //   background-color: red;

  & img {
    width: 150px;
    // height: 100px;
    background-color: white;
    border-radius: 50%;
  }

  & h1 {
    margin-top: 2vh;
    font-size: 2.5em;
  }

  flex: 1;
}

.form {
  //   background-color: aliceblue;
  flex: 2;
}

.version {
  //   background-color: rebeccapurple;
  //   margin-top: auto;
  //   flex: 2;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .logo {
    & img {
      width: 150px;
      // height: 150px;
    }
  }
}
