.host {
  padding: 1vh;
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  height: auto;
}

.card{
    width: 30%;
    margin-top: 1vh;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 48%;
  }
}
